
.div1{
    width : 200px;
    height : 200px;
    background-color: red;
}
.div2{
    background-color: yellow;
    width : 200px;
    height : 200px;
}
.div3{
    background-color: green;
    width : 200px;
    height : 200px;
}
.divmaman1{
    display:flex;
    flex-direction: column-reverse;
}
.divmaman2{
    display:flex;
    flex-direction: row;
}
.divmaman3{
    display:flex;
    flex-direction: column;
}
.divmaman4{
    display:flex;
    flex-direction: row-reverse;
}

.premierh1{
    text-align: center;
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}
