

.class1{
    color: green; 
    font-size: 15px;
}

.class2{
    color: red; 
    font-size: 22px; 
}
.class3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
.caré{
    background-color: black;
    width : 200px;
    height : 200px;
    margin-bottom: 10px;;
}
.rectangle{
    background-color: yellow;
    width : 200px;
    height : 100px;
    margin-bottom: 10px;;
}
.cercle{
    background-color: grey;
    width : 200px;
    height : 200px;
    margin-bottom: 10px;
    border-radius: 50%;
}
